
.PoemPrompt {
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    position: fixed;
    bottom: 0;
    background: white;
    right: 0;
}

.PoemPrompt .header {
    padding-bottom: 30px;
    font-size: 30px;
}

.PoemPrompt .line {
    margin-bottom: 10px;
}

.PoemPrompt .asterisk {
    color: darkgray;
}

.PoemPrompt .input {
    padding-top: 10px;
    padding-bottom: 40px;
    padding-right: 50px;
}

.PoemPrompt .input:focus {
    outline: none;
}

.PoemPrompt .buttons {
    padding-top: 10px;
}

.PoemPrompt .buttons button {
    padding: 5px 40px;
    margin-right: 10px;
    font-weight: bold;
}

.PoemPrompt .buttons button:hover {
    background: #cdff05;
    color: black;
}

.PoemPrompt .buttons .savePoem {
    background: black;
    color: white;
    border: black;
}

.PoemPrompt .buttons .newPrompt {
    background: darkgray;
    color: lightgray;
    border: darkgray;
    padding: 5px 8px;
}

.PoemPrompt .source {
    padding-top: 25px;
    font-size: 10px;
    color: darkgray;
}

.PoemPrompt .title {
    font-style: italic;
}


